iframe#arutab-insert-iframe{
    position:fixed;
    width: calc( 100% - 20px);
    height: calc(100% - 20px);
    margin:10px;
    top: 0;
    left: 0;
    border: none;
    opacity: 0.9;
    box-sizing: border-box;
    z-index:999999;
}