.thumb{
  border:1px solid #444;
  display:block;
  clear:both;
  background:#FFF;
}
.header{
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  display:inline-block;
  color:#DDD;
  width:100%;
}

.favicon{
   height:32px;
   width:32px;
  vertical-align:middle;
  float:left;
}

.tab{
  padding:10px;
  width:30%;
  height:30%;
  background:#444;
  margin:1%;
}

.title{
    font-size:20px;
    line-height:20px;
}
.url{
    font-size:15px;
    line-height:15px;
    color:#999;
}

body{
  background:#333;
}

ul{
    list-style-type: none;
    width:100%;
    display:flex;
    flex-wrap:wrap;
}